<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Article Page</title>
  </head>

  <body>
    <h1>Your Article</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <form method="POST" action="/articles">
      <p>Title: <input type="text" name="title"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit">
    </form>

  </body>
</html>